<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>Package</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish />
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <TargetFramework>netcoreapp2.1</TargetFramework>
    <ProjectGuid>390057f1-4862-48ae-953a-a5a04a8f02fa</ProjectGuid>
    <SelfContained>false</SelfContained>
    <_IsPortable>true</_IsPortable>
    <!--<DesktopBuildPackageLocation>MsDeployReplaceRules.zip</DesktopBuildPackageLocation>-->
    <PackageAsSingleFile>true</PackageAsSingleFile>
    <DeployIisAppPath>Default Web Site/MsDeployReplaceRules</DeployIisAppPath>
    <PublishDatabaseSettings>
      <Objects xmlns="" />
    </PublishDatabaseSettings>
  </PropertyGroup>

  <Target Name="ReplacePath" BeforeTargets="MSDeployPackagePublish">
    <PropertyGroup>
      <_PackageLocationDirectory>$([System.IO.Path]::GetDirectoryName($(PackageLocation)))\</_PackageLocationDirectory>
      <_PackageLocationDirectoryRegEx>$([System.Text.RegularExpressions.Regex]::Escape($(_PackageLocationDirectory)))</_PackageLocationDirectoryRegEx>
    </PropertyGroup>

    <ItemGroup>
      <MsDeployReplaceRules Include="ReplacePath">
        <Match>$(_PackageLocationDirectoryRegEx)</Match>
        <Replace>Files</Replace>
      </MsDeployReplaceRules>
    </ItemGroup>
  </Target>

</Project>